:root {
    --theme-bg-color: #FF6347;
    --light-bg-color: #F5F5F5;
}

.container-fluid {
    background-color: var(--theme-bg-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--light-bg-color);
}

.bar {
    display: inline-block;
    fill: var(--theme-bg-color);
}

.bar:hover {
    fill:dodgerblue;
}

#tooltip {
    background-color: var(--theme-bg-color);
    box-shadow: 1px 1px 10px;
    color: var(--light-bg-color);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}